name: followers-tracker

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 1 * *"

jobs:
  followers-tracker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: Pulling API progress
        run: |
          python3 ./followers.py
      - name: Patching changes progress
        run: |
          now=`date`
          git config --global user.name taurus5650
          git add .
          git commit -m "[bot] patching progress at ${now}" || echo 'Nothing to commit'
          git push || echo 'Nothing to push'
