name: followers-tracker

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron:  "0 0 1 * *"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  followers-tracker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: |
          python -m venv venv
          . venv/bin/activate
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
      - name: Check Installed Modules
        run: pip list
      - name: Pulling API progress
        run: |
          python3 ./followers.py
      - name: Patching changes progress
        run: |
          now=`date`
          git config --global user.name taurus5650
          git add .
          git commit -m "[bot] patching progress at ${now}" || echo 'Nothing to commit'
          git push || echo 'Nothing to push'