name: followers-tracker

permissions:
  contents: read
  pages: write
  id-token: write

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 1 * *"

jobs:
  followers-tracker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install Python dependencies
        run: |
          python -m venv venv
          . venv/bin/activate
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r requirements.txt
          pip3 list
          apt list --installed
          sudo apt purge google-chrome-stable
          pip install chromedriver-autoinstaller selenium pyvirtualdisplay
          sudo apt-get install xvfb
      - name: Run followers.py
        run: |
          source venv/bin/activate
          python3 -m followers --debug
      - name: Upload generated results
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: path/to/your/generated/results
      - name: Patching changes progress
        run: |
          now=`date`
          git config --global user.name taurus5650
          git add .
          git commit -m "[bot] patching progress at ${now}" || echo 'Nothing to commit'
          git push || echo 'Nothing to push'

